<mat-card-content>
    <form [formGroup]="formLogin">
        <table>
            <tr>
                <h2 style="text-align: center;">LOGIN</h2>
            </tr>
            <tr>
                <td colspan="2">
                    <mat-form-field class="demo-full-width">
                        <input type="email" matInput placeholder="Email" formControlName="email"/>
                        <mat-error *ngIf="formLogin.controls['email'].hasError('required')">Email is required</mat-error>
                        <mat-error *ngIf="formLogin.controls['email'].hasError('email')">Invalid email format</mat-error>
                        <mat-error *ngIf="formLogin.controls['email'].hasError('maxlength')">Max length is 50</mat-error>
                    </mat-form-field>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <mat-form-field class="demo-full-width">
                        <input type="password" matInput placeholder="Password" formControlName="password"/>
                        <mat-error *ngIf="formLogin.controls['password'].hasError('required')">Password is required</mat-error>
                        <mat-error *ngIf="formLogin.controls['password'].hasError('maxlength')">Max length is 15</mat-error>
                    </mat-form-field>
                </td>
            </tr>
            <tr>
                <td colspan="2" class="content-center">
                    <button mat-raised-button color="accent" (click)="onSubmit()" [disabled]="!formLogin.valid">Submit</button>
                </td>
            </tr>
        </table>
    </form>
</mat-card-content>